.btn-trial {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-nav {
        border-radius: 999px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        padding: 9px 20px;    
    }
}

.test__wrap__button {
    display: flex;
    margin-bottom: 20px;
}

.test__card {
    left: 120px;
    width: 290px;
    
    .test__badge {
        width: 60px;
        height: 28px;
    }
}
