#btn-onTop {
    position: fixed;
    width: 44px;
    height: 44px;
    bottom: 20px;
    right: 30px;
    font-size: 16px;
    border-style: solid 2px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 7px;
    z-index: 99;
  }
  
#btn-onTop:hover {
    background-color: $color-primary;
    color: #fff;
    border: none;
}