.onTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    // background-color: #fff;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
    padding-bottom: 20px;
    
    &__avt {
        position: relative;
        width: 150px;
        padding-top: 20px;
        margin-bottom: 32px;
        
        .onTop__img {
            position: relative;
            width: 100%;
            height: 150px;
            border-radius: 50%;
            margin: auto;
            object-fit: cover;
            border: 6px solid #eaeaea;
            -webkit-box-shadow: 0px 0px 17px 0px rgb(0 0 0 / 41%);
            -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.41);
            box-shadow: 0px 0px 17px 0px rgb(0 0 0 / 41%);
        }

        .onTop__img__medal {
            position: absolute;
            width: 35%;
            bottom: calc(0% - 52.5px / 2);
            left: calc(50% - 52.5px / 2);
        }
    }

    .rank1 {
        font-size: 30%;
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__fullname {
            font-size: 18px;
        }
        
        &__username {
            font-weight: 600;
            font-size: 14px;
            font-style: italic;
            color: #b3b3b3;
        }
    }
    
    .single__rank__box {
        margin-top: 6px;
        
        .onTop__content__point {
            font-size: 12px;
            color: cornflowerblue;
        }
    }
}

.cover-img-left {
    margin-left: 120px;
    margin-top: 75px;

    .onTop__avt {

        .onTop__img {
            box-shadow: 0px 0px 500px 12px rgb(68, 255, 43);
        }
    }
}

.cover-img-center {

    .onTop__avt {
        position: relative;
        width: 190px;
        padding-top: 20px;
        margin-bottom: 40px;

        .onTop__img {
            width: 100%;
            height: 190px;
            box-shadow: 0px 0px 500px 12px rgb(255, 251, 2);
        }
    
        .onTop__img__medal {
            bottom: calc(0% - 66.5px / 2);
            left: calc(50% - 66.5px / 2);
        }
    }
}

.cover-img-right {
    margin-right: 120px;
    margin-top: 75px;

    .onTop__avt {

        .onTop__img {
            box-shadow: 0px 0px 500px 12px rgb(0 131 253);
        }
    }
}

.single__rank {
    display: flex;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
    align-items: center;
    
    &__index {
        flex-basis: 10%;
    }
    
    &__content {
        display: flex;
        flex-basis: 70%;
        justify-content: flex-start;
        align-content: center;
        
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            border: 6px solid #eaeaea;
            margin-right: 10px;
        }
    }
    
    .sr__content__fullname {
        font-size: 18px;
    }
    
    .sr__content__username {
        font-weight: 600;
        font-size: 14px;
        font-style: italic;
        color: #b3b3b3;
    }
    
    &__box {
        width: auto;
        padding: 9px 25px;
        border-radius: 999px;
        background-color: #f4f4f4;
        
        .single__rank__point {
            font-size: 12px;
            flex-basis: 20%;
            color: cornflowerblue;
        }
    }
}

.single__rank:hover {
    box-shadow: 0px 2px 20px rgba(0,0,0,0.4);
    transform: scale(1.01, 1.01);
}

