#navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    
    .btn-nav {
        border-radius: 999px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        padding: 9px 20px;    
    }

    .nav-user {
        display: flex;
        align-items: center;
    
        .nav-user-avt {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            object-fit: cover;
            border: 4px solid #eaeaea;
        }
    }
}

