
:root {
    --height_img: 270px;
    --color-primary: #34A25A;
    --color-button: #34A25A;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #E3DFEF; */
}

div {
    scroll-margin-top: 100px;
}

.img-404 {
    width: 100%;
    height: 100%;
}

.container-page {
    margin-top: 100px !important; 
}

.card {
    border-radius: 8% !important;
    width: 20 rem;
    height: 20 rem;
}

.card_img {
    object-fit: fill;
}

.wallpaper {
    background-image: url('https://wallpaperaccess.com/full/2020044.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.dark-overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

.wrap {
    color: aliceblue;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrap form {
    width: 30vw;
    margin: 10px 0;
}

.wrap form input {
    margin: 20px 0;
}

#root {
    position: relative;
}

#navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.nav-user {
    display: flex;
    align-items: center;
}

.nav-user-avt {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #eaeaea;
}

.home-link {
    display: flex;
    justify-content: space-between;
}

.test__wrap__button {
    display: flex;
    margin-bottom: 20px;
}

.test__card {
    left: 120px;
    width: 290px;
}

.test__badge {
    width: 60px;
    height: 28px;
}

input[type='radio']:checked::before {
    background-color: var(--color-primary);
}


.btn-nav {
    border-radius: 999px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: 9px 20px;    
}

.title__question {
    font-size: 1.16rem;
}

.img_subject {
    height: 180px;
    background-color: rgba(0, 0, 0, .1);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: block;
    object-fit: cover;
    overflow: hidden;
    padding-top: 0;
    position: relative;
}

.img_subject::after {
    background-color: rgba(0, 0, 0, .5);
    content: "";
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: all 1s ease 0s;
    visibility: hidden
}

.btn-subject {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .3s ease 0s;
    visibility: hidden;
    z-index: 1;
    padding: 9px 16px;
    font-weight: 600;
    border-radius: 999px;
}

.img_subject:hover .btn-subject,
.img_subject:hover::after {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.img_subject:hover .btn-subject{
    top: 50%
}

#btn-onTop {
    position: fixed;
    width: 44px;
    height: 44px;
    bottom: 20px;
    right: 30px;
    font-size: 16px;
    border-style: solid 2px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 7px;
    z-index: 99;
  }
  
#btn-onTop:hover {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
}

.btn-pag {
    background-color: #fff;
    color: #000;
    border-radius: 0;
}

.ui-admin {
    background-color: #fff;
    border: solid 2px var(--color-primary);
    border-left: solid 10px #5F5490;
    padding: 30px;
    border-radius: 8px;
}

.ui-admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.ui-admin-number {
    font-size: 40px;
}

.ui-admin-text {
    color: grey;
    font-weight: 480;
    font-size: 18px;
}

.btn-view {
    font-size: 15px;
    font-weight: 650;
    padding: 3px 10px;
    border-radius: 999px;
    background-color: #fff;
    border: solid 2px var(--color-button);
    color: var(--color-button);
}

.admin-box {
    background-color: #d4edda;
    display: flex;
    justify-content: space-between;
}

.admin-rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px auto;
    border-radius: 10px;
}

.admin-rank img {
    margin: 10px 26px;
    width: 70px;
    border: solid 5px gray;
    border-radius: 50%;
}

.rank-1{
    background-color: #28a745;
}

.rank-2{
    background-color: #5F5490;
}

.rank-3{
    background-color: #FFC000;
}

.rank{
    color: #fff;
    padding: 1px 30px;
    border-radius: 9999px;
    margin: 15px 0;
}

.rank-1 > .rank{
    background-color: #2a8940;
}

.rank-2 > .rank{
    background-color: #423a65;
}

.rank-3 > .rank{
    background-color: #ca9800;
}

/* Info */
.info-wrap {
    display: flex;
}

.info-content {
    margin-top: 20px;
    flex: 1 1;
    margin-right: 200px;
}

.info-input {
    flex: 1;
    width: 100%;
    padding: 3px 10px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.09);
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}

.info-btn {
    height: 32px;
    width: 60px;
    font-size: 16px;
    margin: auto;
}

.info-label {
    font-size: 20px;
}

.info-description {
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
}

.info-avatar {
    position: relative;
    width: 160px;
}

.info-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #eaeaea;
}

.info-round {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 26px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-primary);
    color: #fff;
}

.info-avatar .info-round input {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

input[type='file']::-webkit-file-upload-button{
    cursor: pointer;
}

/* Result */
.answer-false {
    color: red;
}

.result-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer-select--true{
    color: #3bb44b;
}

.answer-select--false{
    color: red;
}
